    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include mq(med) {
            width: 90%;
        }
    }
    .form__label--hidden {
        display: none;
    }
    .form__input {
        height: 45px;
        margin: 0 10px 10px;
        @include prime-edge (bottom);
        &::placeholder {
            padding-left: 15px;
            font-size: .8em;
        }
    }