

.img {
    &--logo {
        max-width: 250px;
    }
    &--frame {
        @extend %img;
        width: 100%;
        border: 1px $grey solid;
    }
    &--avatar {
        width: 150px;
        height: 150px;
        margin: 15px auto;
        display: block;
    }
}
