

.img {
    &--logo {
        max-width: 250px;
    }
    &--frame {
        @extend %img;
        width: 95%;
        border: 1px $grey solid;
        @include mq(sm) {
            width: 90%;
            margin: 0 auto;
        }
        
    }
    &--avatar {
        width: 160px;
        height: 160px;
        margin: 15px auto;
        display: block;
    }
}
